.container {
	width: 1600px;
	height: 3854px;
}
a {
	text-decoration: none;
}
.section-1-img{
	background-image: url(../img/bg1.jpg);
	background-size: cover;
	background-attachment: fixed;
	height: 900px;
}
.section-2{ /*what they said about us*/
	height: 372px;
}
.section-3-img{ /*we change ideas to realities*/
	background-image: url(../img/bg2.jpg);
	background-size: cover;
	background-attachment: fixed;
	height: 380px;
}
.section-4{ /*the secret of a company is the team*/
	height: 439px;
}
.section-5-img{ /*we are featured on*/
	background-image: url(../img/bg3.jpg);
	background-size: cover;
	background-attachment: fixed;
	height: 475px;
}
.section-6{ /*they trust us because we made great work*/
	height: 402px;
}
.section-7-img{ /*check what said our bird*/
	background-image: url(../img/bg4.jpg);
	background-size: cover;
	background-attachment: fixed;
	height: 485px;
	text-align: center;
}
.section-8{ /*some times we share some goods*/
	height: 401px;
}
.section-flex{
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo-block{
	display: inline-block;
	padding: 530px 0 0 82px;
}
.logo{
	margin: 0;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	font-size: 48px;
	font-weight: 700;
	color: #fff;
}
.sublogo{
	margin: 5px 0 28px;
	font-family: "Lato", sans-serif;
	font-size: 18px;
	color: #fff;
}
.slogan{
	display: inline-block;
	margin: 0;
	padding: 48px 48px 42px 0;
	border: 1px solid #fff;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	font-size: 54px;
	font-weight: 700;
	background-color: rgba(0, 0, 0, 0.3);
	color: #fff;
}
.slogan-white-part{
	padding: 49px 34px 43px 29px;
	background-color: #fff;
}
.section-topic{
	font-family: "Montserrat", sans-serif;
	font-size: 22px;
	font-weight: 700;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #333;
}
.section-text{
	font-family: "Lato", sans-serif;
	font-size: 17px;
	line-height: 24px;
	text-align: center;
	color: #4d4943;
}
.orange-text{
	color: #f1ad1d;
}
.white-text{
	color: #fff;
}
.img-png{
	display: inline-block;
	vertical-align: middle;
}
.national-post{
	padding-right: 54px;
	width: 207px;
	height: 28px;
}
.dryme{
	padding-right: 66px;
	width: 135px;
	height: 49px;	
}
.house-home{
	padding-right: 65px;
	width: 172px;
	height: 42px;
}
.journy{
	width: 141px;
	height: 52px;
}
.text-with-link{
	width: 450px;
}
.horizontal-line{
	margin: 52px auto 0;
	width: 60px;
	border-bottom: 3px solid #f1ad1d;
}
.horizontal-line-bottom-margin{
	margin: 60px auto 60px;
}
.horizontal-line-white{
	margin: 44px auto 0;
	width: 281px;
	border-bottom: 3px solid #fff;	
}